/* stylelint-disable csstree/validator */

/******** Reset *********/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --wine: rgb(159, 42, 61);
  --soft-wine: rgba(159, 42, 62, 0.226);
  --parrot: #e0989940;
  --medium: #b4353527;
}

/******* Main section *********/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column-reverse;
  background-color: #d2c6c7be;
  font-family: 'Raleway', sans-serif;
}

.logo {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 1.5rem;
  font-weight: 700;
}

.fa-circle-dot {
  color: var(--wine);
  font-size: 0.6rem;
}

.ocult {
  display: none;
}

.checked {
  text-decoration: line-through;
  color: gray;
}

#title-container {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--wine);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Oswald', sans-serif;
  color: var(--wine);
  font-size: 1.3rem;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--soft-wine);
}

.list-title {
  margin-left: 12px;
}

.fa-arrows-rotate {
  margin-right: 12px;
  cursor: pointer;
  color: var(--wine);
}

.fa-arrows-rotate:hover {
  transform: scale(1.1);
  color: var(--wine);
}

#task-form {
  display: flex;
  height: 40px;
  width: 100%;
  border: none;
  justify-content: space-between;
}

.submit-button,
#add-task {
  border: none;
  background-color: transparent;
}

#add-task {
  padding-left: 12px;
  width: 95%;
}

.submit-button {
  cursor: pointer;
  font-size: 1rem;
  padding-left: 12px;
  padding-right: 12px;
  transition: all 0.3s ease-in-out;
}

.submit-button:hover {
  font-size: 1.1rem;
  background-color: var(--soft-wine);
  border: 1px solid var(--wine);
}

#add-task::placeholder {
  font-style: italic;
}

.list-section {
  height: auto;
  width: 30%;
  border: 2px solid var(--wine);
  border-bottom: 1px solid transparent;
  background-color: white;
}

.display-list {
  width: 100%;
  height: auto;
}

.task {
  height: 50px;
  width: 100%;
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid var(--wine);
  align-items: center;
  justify-content: space-between;
  cursor: move;
}

.task.margin {
  background-color: var(--medium);
}

input:checked + label {
  text-decoration: line-through;
  text-decoration-color: var(--wine);
  color: var(--wine);
}

.task.select {
  background-color: var(--parrot);
  border: 1px solid var(--wine);
  border-bottom: 2px solid var(--wine);
  border-top: 1px solid var(--wine);
}

.task.changed {
  background-color: var(--medium);
}

.task:last-child {
  border: none;
}

.task:first-child {
  border-top: 1px solid var(--wine);
}

.task:last-child.select {
  border: 1px solid var(--wine);
  border-bottom: 2px solid var(--wine);
}

.task:first-child.select {
  border-top: 2px solid var(--wine);
}

input[type=checkbox] {
  accent-color: var(--soft-wine);
}

.checkbox {
  margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;
}

.fa-ellipsis-vertical {
  position: relative;
  cursor: pointer;
  margin-right: 12px;
  color: var(--wine);
  transition: transform 0.5s ease-in-out;
}

.fa-ellipsis-vertical:hover {
  color: black;
  transform: scale(1.2);
}

.input-container {
  width: 100%;
}

.fa-ellipsis-vertical.ocult {
  display: none;
}

.fa-trash-can {
  position: relative;
  margin-right: 12px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.fa-pencil {
  margin-right: 12px;
  margin-left: 12px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.fa-pencil:hover {
  transform: scale(1.2);
}

.fa-trash-can:hover {
  transform: scale(1.2);
}

#clear-btn {
  height: 50px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--wine);
  background-color: var(--soft-wine);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-family: 'Oswald', sans-serif;
  color: var(--wine);
}

#clear-btn:hover {
  font-size: 1.05rem;
  font-weight: 400;
  background-color: var(--wine);
  color: white;
}

/* Edit section */

.edit {
  width: 95%;
  padding-left: 38px;
  height: 100%;
  border: none;
}
